/.classpath
/.project
/.settings
.classpath
*.class
*.ctxt
.project
.settings
/nbproject
/target
.*.sw[a-p]
/build
/bin
/dist
/manifest.mf
/.DS_Store
# intellij
*.iml
*.ipr
/dependency-reduced-pom.xml
*.iws
.idea/
/*/.classpath
/*/.project
/*/.settings
/*/nbproject
/*/target
/*/.*.sw[a-p]
/*/build
/*/bin
/*/dist
/*/manifest.mf
/*/.DS_Store
/*/*.iml
/*/*.ipr
/*/*.iws
/*/.idea/
/doc
/*/doc
/javadoc.xml
/*/javadoc.xml